{% load i18n static %}
{% if cl.search_fields %}
<div id="toolbar">

<form id="changelist-search" method="get" role="search">
    <div><!-- DIV needed for valid HTML -->
        <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
        <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar"{% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %} placeholder="Trạng thái">
        <input type="submit" value="{% translate 'Search' %}">
        {% comment %} --------- {% endcomment %}
        {% if cl.is_facets_optional or cl.has_active_filters %}
            <div id="changelist-filter-extra-actions">
                {% if cl.is_facets_optional %}
                <h3>
                    {% if cl.add_facets %}<a href="{{ cl.remove_facet_link }}" class="hidelink">{% translate "Hide counts" %}</a>
                    {% else %}<a href="{{ cl.add_facet_link }}" class="viewlink">{% translate "Show counts" %}</a>
                    {% endif %}
                </h3>
                {% endif %}
                {% if cl.has_active_filters %}
                <h3>
                <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
                </h3>
                {% endif %}
            </div>
        {% endif %}
        {% comment %} ------------ {% endcomment %}
        {% if show_result_count %}
            <span class="small quiet">{% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %} (<a href="?{% if cl.is_popup %}{{ is_popup_var }}=1{% if cl.add_facets %}&{% endif %}{% endif %}{% if cl.add_facets %}{{ is_facets_var }}{% endif %}">{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)</span>
        {% endif %}
        {% for pair in cl.params.items %}
            {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
        {% endfor %}
    </div>

    <!-- ---------het custom code ----------  -->
    {% if cl.search_help_text %}
        <br class="clear">
        <div class="help" id="searchbar_helptext">{{ cl.search_help_text }}</div>
    {% endif %}
</form>
</div>
{% comment %} het div toolbar  {% endcomment %}
{% endif %}
